/* reset */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd {
    margin: 0;
}

/* Remove default list styles */
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Remove link underline and color */
a {
    text-decoration: none;
    color: inherit;
}

/* Set a consistent background color */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}

/* Remove default table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Remove images border */
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Reset form elements */
button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

/* Set default cursor and appearance for buttons */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor: pointer;
    background: transparent;
    border: none;
}

textarea {
    resize: none;
}

/* Remove default styles for media elements */
audio,
canvas,
iframe,
img,
svg,
video {
    display: block;
    vertical-align: middle;
}

/* Misc resets */
html,
body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

hr {
    border: none;
    height: 1px;
    background-color: currentColor;
    opacity: 0.25;
}
